<div>
    <img src="" alt="">
    <h1>NodeJs</h1>
    <div>
        <a href="/">Home</a>
        <a href="/register">Signup</a>
        <a href="/login">Signin</a>
        <a href="/profile">Profile</a>
    </div>
</div>