<div>
    <img src="" alt="">
    <h1>Register here</h1>
    <p>
        <% if (message?.error?.length) { %>
            <%= message.error[0] %>
        <% } %>
    </p>
    <div>
        <form action="/register" method="post">
            <div>
                <label for="fullname">fullname</label>
                <input type="text" name="fullname" id="fullname" required>
            </div>
            <div>
                <label for="username">username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button>Signup</button>
            <a href="/login">Signin</a>
            <a href="/">Home</a>
        </form>
    </div>
</div>
